/** Radio Image Button */
.page-meta-box.form-table td{
	padding: 5px;
}

.f13{
	font-size: 13px !important; 
	line-height: 16px
}

.radio-image-wrapper{
	margin-right: 25px; 
	float: left;
}

.hide-radio{
	position: relative;
	margin-bottom: 6px;
}

.hide-radio img, .hide-radio label{
	display: block;
}

.hide-radio input[type="radio"]{
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
}

.hide-radio input[type=radio] + label {
	border: 3px solid #F1F1F1;
}

.hide-radio input[type=radio]:checked + label {
  border: 3px solid #CCC;
}
/** Radio Image Button Ends */

/** User Social Profile */
.user-social-sortable-icons li.ui-sortable-handle {
    width: auto;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    display: table;
    clear: both;
    padding: 20px;
    margin: 10px;
    cursor: move;
    position: relative;
}

.user-social-sortable-icons li.ui-sortable-handle:before {
    content: "\f545";
    font-family: dashicons;
    font-size: 16px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #e5e5e5;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: 0;
    left: -10px;
    margin: auto;
    bottom: 0;
}

.user-social-sortable-icons li.ui-sortable-handle label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.user-social-sortable-icons li.ui-sortable-handle .description {
    display: block;
    margin-top: 5px;
    cursor: auto;
}
/** User Social Profile Ends */

/** Admin Review Dialog Box */
.notice-info.review-message{
    border-left-color: #f8478d;
}
.review-message .notice-text{
    display: flex;
    align-items: center;
}
.review-message .notice-text .logo-holder img{
    width:100px;
    margin-right: 20px;
}

.review-message .message-text{
	margin-bottom: 10px;
}
.review-message .button-holder a{
    margin-right: 25px;
}

/* Demo Importer Plush Plugin template search field */
.demo-importer-menu-page .search-filter-wrap{
    display: none !important;
}

.noticemain {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.expired-license-notice {
    background: #fdeced;
}

.activate-license-notice {
    background: #fef7ea;
}

.warningwrp {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 24px;
}

.icon-svg-holder {
    align-self: start;
}

.activate-heading {
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.activate-license-notice p,
.renewal-link-notice p {
    margin: 0 0 16px;
}

/* activate button */
.activate-button,
.expired-license-notice .renewal-link-notice a {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 48px;
    cursor: pointer;
    text-decoration: none;
    transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.expired-license-notice .renewal-link-notice {
    display: block;
    margin-top: 16px;
}

.activate-button {
    background-color: #dba617;
    border: 1px solid #dba617;
}

.expired-license-notice .renewal-link-notice a {
    background-color: #b42318;
    border: 1px solid #b42318;
}

.expired-license-notice .renewal-link-notice a:hover {
    background-color: transparent;
    color: #b42318;
}

.activate-button:hover {
    background-color: transparent;
    color: #dba617;
}
/* dashboard icon */

#toplevel_page_cookery-dashboard .wp-menu-name {
    font-size: 13px;
}
  
.dashicons-cw-dashboard-icon::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.085 2.29479C16.8346 2.29479 17.705 3.16515 17.705 4.88943V15.1105C17.705 16.8348 16.8346 17.7051 15.085 17.7051H4.92319C3.18212 17.7051 2.29462 16.843 2.29462 15.1105V4.88908C2.29462 3.15658 3.18212 2.29443 4.92319 2.29443L15.085 2.29479ZM7.14283 7.85693H6.42855C6.23911 7.85693 6.05742 7.93219 5.92347 8.06614C5.78952 8.2001 5.71426 8.38178 5.71426 8.57122V13.5712C5.71426 13.7607 5.78952 13.9423 5.92347 14.0763C6.05742 14.2102 6.23911 14.2855 6.42855 14.2855H7.14283C7.33227 14.2855 7.51395 14.2102 7.64791 14.0763C7.78186 13.9423 7.85712 13.7607 7.85712 13.5712V8.57122C7.85712 8.38178 7.78186 8.2001 7.64791 8.06614C7.51395 7.93219 7.33227 7.85693 7.14283 7.85693ZM10.3571 5.71408H9.64283C9.45339 5.71408 9.27171 5.78933 9.13776 5.92328C9.0038 6.05724 8.92855 6.23892 8.92855 6.42836V13.5712C8.92855 13.7607 9.0038 13.9423 9.13776 14.0763C9.27171 14.2102 9.45339 14.2855 9.64283 14.2855H10.3571C10.5466 14.2855 10.7282 14.2102 10.8622 14.0763C10.9961 13.9423 11.0714 13.7607 11.0714 13.5712V6.42836C11.0714 6.23892 10.9961 6.05724 10.8622 5.92328C10.7282 5.78933 10.5466 5.71408 10.3571 5.71408ZM13.5714 9.99979H12.8571C12.6677 9.99979 12.486 10.075 12.352 10.209C12.2181 10.343 12.1428 10.5246 12.1428 10.7141V13.5712C12.1428 13.7607 12.2181 13.9423 12.352 14.0763C12.486 14.2102 12.6677 14.2855 12.8571 14.2855H13.5714C13.7608 14.2855 13.9425 14.2102 14.0765 14.0763C14.2104 13.9423 14.2857 13.7607 14.2857 13.5712V10.7141C14.2857 10.5246 14.2104 10.343 14.0765 10.209C13.9425 10.075 13.7608 9.99979 13.5714 9.99979Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

.notice-warning.is-dismissible{
    margin-left: -10px;
  }