.customizer-restriction-overlay-wrapper {
  position: relative;
}

.customizer-restriction-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 20%;
  font-size: 24px;
  z-index: 999999;
  backdrop-filter: blur(8px);
}

.customizer-restriction-overlay-content {
  padding: 32px 24px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  margin: 0 16px;
  box-shadow: 0px 32px 40px -30px #00000080;
  border-bottom: 4px solid #1085ba;
}

.customizer-restriction-overlay-content.expiry {
  border-color: #dc3232;
}

.customizer-restriction-overlay-content .custo-message {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 1.75;
}

.customizer-restriction-overlay-content span {
  display: block;
  font-size: 18px;
  line-height: 1.55;
  font-weight: bold;
  margin: 8px 0;
}

.customizer-restriction-overlay-content.expiry .title{
    color: #dc3232;
}

a.customizer-restriction-overlay-close,
.renewal-link-notice a {
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  padding: 8px 32px;
  background-color: #1085ba;
  border-radius: 5000px;
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #08628a;
  transition: opacity 0.23s ease-in-out;
}
a.customizer-restriction-overlay-close:hover {
  opacity: 0.7;
}

.in-sub-panel #customize-info,
.in-sub-panel #customize-theme-controls .customize-pane-parent,
.in-sub-panel.section-open
  #customize-theme-controls
  .customize-pane-child.current-panel,
.section-open #customize-info,
.section-open #customize-theme-controls .customize-pane-parent {
  visibility: visible;
  height: auto;
  overflow: auto;
  transform: none;
}

#customize-controls .wp-full-overlay-sidebar-content {
  overflow: hidden;
}
