.cw-offer-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;

    .cw-offers {
        display: flex;
        justify-content: space-between;
        column-gap: 64px;
        align-items: center;
        padding: 0 0 0 40px;
        border-radius: 16px;
        overflow: hidden;

        .cw-button{
            display: flex;
            gap: 16px;
        }

        &:nth-child(1) {
            background: #E6F0FF;

            .cw-button-btn {
                background: #6266EA;
                border: 1px solid #6266EA;

                &:hover {
                    background: transparent;
                    color: #6266EA;
                }

                &:hover {
                    path {
                        stroke: #6266EA;
                    }
                }

                &.outline {
                    background: transparent;
                    border: 1px solid #6266EA;
                    color: #6266EA;

                    &:hover {
                        background: #6266EA;
                        color: #fff;
                        path {
                            stroke: #fff;
                        }
                    }
                }
            }
        }

        &:nth-child(even) {
            padding: 0 40px 0 0;

            .cw-offerbody {
                order: 2;
            }
        }

        &:nth-child(even) .cw-offer-image {
            order: 1;
            text-align: left;

        }

        &:nth-child(2) {
            background: #FFEBF6;

            .cw-button-btn {
                background: $primary-color;
                border: 1px solid $primary-color;

                &:hover {
                    background: transparent;
                    color: $primary-color;
                }
            }
        }

        &:nth-child(3) {
            background: #D9EFE1;

            .cw-button-btn {
                background: #32AD60;
                border: 1px solid #32AD60;

                &:hover {
                    background: transparent;
                    color: #32AD60;
                }

                &:hover {
                    path {
                        stroke: #32AD60;
                    }
                }
            }
        }

        &:nth-child(4) {
            background: #FAECCE;

            .cw-button-btn {
                background: #E8BB5C;
                border: 1px solid #E8BB5C;
                color: $font-color;

                &:hover {
                    background: transparent;
                    color: #E8BB5C;

                    svg {
                        path {
                            stroke: #E8BB5C;
                        }
                    }
                }

                svg {
                    path {
                        stroke: $font-color;
                    }
                }
            }
        }

        .cw-offerbody {
            p {
                margin-top: 16px;
            }

            .cw-heading {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.5;
            }

            .cw-button-btn {
                padding: 10px 40px;
                font-size: 16px;

                @media screen and (max-width:1441px) {
                    padding: 10px 24px;
                }

            }
        }

        .cw-offer-image {
            text-align: right;
            padding-top: 56px;

            img {
                vertical-align: end;
            }
        }
    }
}

.heading-link{
    .cw-heading {
        transition: color 0.3s ease-in-out;
        &:hover{
            color: $primary-color;
        }
    }
}

@media screen and (max-width: 1200px) {
    .cw-offer-wrap {
        .cw-offers {
            padding: 40px;
            gap: 24px;
            text-align: center;
            flex-direction: column;

            &:nth-child(odd) {
                flex-direction: column-reverse;
            }

            .cw-offer-image {
                text-align: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &:nth-child(even) {
                padding: 40px;
            }
        }
    }
}