$primary-color: #F8478D;
$primary-accent-color: #F6F8FA;
$font-color:  #1A1D1F;
$secondary-font-color:  #5A5F61;
$accent-color: #575F68;
$white-color: #ffffff;
$border-color:#5055561a;
$black-color: #000000;
$black-color-rgb: 0, 0, 0;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
