.dr-miscellaneous-settings-content {
    .dr-emoji-reactions{
        .dr-emoji-switch-wrap{
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(var(--black-color-rgb), 0.05);
            display: flex;
            align-items: center;
            &:first-child{
                margin-top: 40px;
                padding-top: 40px;
                border-top: 1px solid rgba(var(--black-color-rgb), 0.05);
            }
            &.sortable-chosen{
                cursor: grabbing;
            }
            .dr-short-button{
                font-size: 24px;
                margin-right: 16px;
                line-height: 1;
                cursor: grab;
                background: none;
                border: none;
                opacity: .5;
                &:active{
                    cursor: grabbing;
                }
                &:hover{
                    opacity: 1;
                }
                svg{
                    width: 1em;
                    height: 1em;
                    vertical-align: top;
                }
            }
            .dr-field{
                margin: 0 !important;
            }
        }
    }
}

.dr-modal-wrapper {
    max-height: 90vh;
    .dr-modal-dismiss-btn{
        left: auto;
        right: 0;
        line-height: 1;
        padding: 16px;
        width: unset;
    }
}