.dr-pro-comment-container,
#reviewModal {

    .dropzone {
        border: 2px dashed var(--primary-color);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0;
        min-height: unset;
        border-radius: 4px;

        .dz-message {
            margin: 0;
            padding: 2em;
            background-color: rgba(var(--primary-color-rgb), 0.1);

            .dz-button {
                background: none;
                color: inherit;
            }
        }
    }

    .comment-reply-title {
        display: block;
        font-size: 18px;
        line-height: 1.333;
        font-weight: 600;
        margin: 0 0 10px;
    }

    .comment-respond {
        margin-top: 0;
        padding: 24px;
        background-color: #fff;
    }

    .dr-tags {
        padding: 0;

        a {
            cursor: pointer;
            &.selected {
                background-color: var(--primary-color);
                color: #fff;
            }

            &.show-more {
                font-weight: 700;

                &::before {
                    content: "";
                    display: inline-block;
                    background-color: currentColor;
                    width: 1em;
                    height: 1em;
                    mask: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5L6 8L9 5' stroke='%23505556' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    mask-repeat: no-repeat;
                    mask-size: 100%;
                    margin-right: 3px;
                }
            }
        }
    }

    .expanded+.show-more {
        &::before {
            transform: rotate(180deg);
        }
    }

    .comment-form {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        margin: 0 !important;

        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="tel"],
        input[type="number"],
        input[type="date"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        textarea {
            width: 100%;
            padding: 10px 14px;
            border: 1px solid #50555633;
            border-radius: 4px;
            font-size: 14px;
            line-height: 1.5;
            color: #333;
            background-color: #fff;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            font-family: inherit;
        }

        textarea {
            max-height: 87px;
            resize: vertical;
        }

        .jq-ry-container svg {
            height: 24px;
        }

        .comment-form-rating {
            display: flex;
            align-items: center;

            .rating-value-word {
                font-size: 16px;
                font-weight: 500;
                color: #FFAE34;
                white-space: nowrap;
            }

            .dr-comment-rating+.rating-value-word {
                margin-left: 16px;
                padding-left: 16px;
                border-left: 1px solid #AAAAAA4D;
            }
        }

        label {
            font-size: 16px;
            font-weight: 700;
            color: var(--font-color);
            float: none;
        }

        .comment-form-cookies-consent{
            label{
                font-size: 14px;
                font-weight: 400;
            }
        }

        .dr-meta-title {
            font-size: 14px;
            font-weight: 500;
            color: var(--font-color);
        }

        >* {
            margin: 0 0 16px;
            width: 100%;
        }

        p{
            &:last-of-type{
                margin-bottom: 0;
            }
        }

        .comment-form-comment,
        .comment-form-author,
        .comment-form-email {
            margin-right: 0;

            label {
                display: none;
            }
        }

        .comment-form-author,
        .comment-form-email{
            min-width: 200px;
            flex: 1;
            flex-grow: 1;
        }

        .dr-comment-rating,
        .dr-comment-rating .dr-comment-form-rating {
            margin: 0 !important;
        }

        .comment-form-rating {
            label {
                display: none !important;
            }
        }
    }

    .yes-no-switch {
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            margin: 0;
            display: block !important;
        }

        .yes-no-buttons {
            display: flex;
            gap: 8px;

            button {
                font-size: 14px;
                line-height: 1.2;
                font-weight: 500;
                padding: 6px 12px;
                border-radius: 4px;
                display: inline-flex;
                align-items: center;
                gap: 4px;
                transition: all .3s ease;

                &::before {
                    content: "";
                    width: 1em;
                    height: 1em;
                    background-color: currentColor;
                }

                &.yes-btn {
                    border: 1px solid #2DB68D;
                    color: #2DB68D;
                    background: transparent;

                    &::before {
                        mask: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 8.25V14.25C5.25 14.4489 5.17098 14.6397 5.03033 14.7803C4.88968 14.921 4.69891 15 4.5 15H3C2.80109 15 2.61032 14.921 2.46967 14.7803C2.32902 14.6397 2.25 14.4489 2.25 14.25V9C2.25 8.80109 2.32902 8.61032 2.46967 8.46967C2.61032 8.32902 2.80109 8.25 3 8.25H5.25ZM5.25 8.25C6.04565 8.25 6.80871 7.93393 7.37132 7.37132C7.93393 6.80871 8.25 6.04565 8.25 5.25V4.5C8.25 4.10218 8.40804 3.72064 8.68934 3.43934C8.97064 3.15804 9.35218 3 9.75 3C10.1478 3 10.5294 3.15804 10.8107 3.43934C11.092 3.72064 11.25 4.10218 11.25 4.5V8.25H13.5C13.8978 8.25 14.2794 8.40804 14.5607 8.68934C14.842 8.97064 15 9.35218 15 9.75L14.25 13.5C14.1421 13.9601 13.9375 14.3552 13.667 14.6257C13.3964 14.8963 13.0746 15.0276 12.75 15H7.5C6.90326 15 6.33097 14.7629 5.90901 14.341C5.48705 13.919 5.25 13.3467 5.25 12.75' stroke='%232DB68D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        mask-repeat: no-repeat;
                        mask-size: 100%;
                        mask-position: center;
                    }
                }

                &.no-btn {
                    border: 1px solid #E84E3B;
                    color: #E84E3B;
                    background: transparent;

                    &::before {
                        mask: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 9.74995V3.74995C5.25 3.55104 5.17098 3.36027 5.03033 3.21962C4.88968 3.07897 4.69891 2.99995 4.5 2.99995H3C2.80109 2.99995 2.61032 3.07897 2.46967 3.21962C2.32902 3.36027 2.25 3.55104 2.25 3.74995V8.99995C2.25 9.19886 2.32902 9.38963 2.46967 9.53028C2.61032 9.67093 2.80109 9.74995 3 9.74995H5.25ZM5.25 9.74995C6.04565 9.74995 6.80871 10.066 7.37132 10.6286C7.93393 11.1912 8.25 11.9543 8.25 12.7499V13.4999C8.25 13.8978 8.40804 14.2793 8.68934 14.5606C8.97064 14.8419 9.35218 14.9999 9.75 14.9999C10.1478 14.9999 10.5294 14.8419 10.8107 14.5606C11.092 14.2793 11.25 13.8978 11.25 13.4999V9.74995H13.5C13.8978 9.74995 14.2794 9.59191 14.5607 9.31061C14.842 9.0293 15 8.64777 15 8.24995L14.25 4.49995C14.1421 4.03984 13.9375 3.64477 13.667 3.37423C13.3964 3.10369 13.0746 2.97233 12.75 2.99995H7.5C6.90326 2.99995 6.33097 3.237 5.90901 3.65896C5.48705 4.08092 5.25 4.65321 5.25 5.24995' stroke='%23E84E3B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        mask-repeat: no-repeat;
                        mask-size: 100%;
                        mask-position: center;
                    }
                }
            }
        }

        input[value="yes"]+.yes-no-buttons {
            button.yes-btn {
                background-color: #2DB68D;
                color: #ffffff;
            }
        }

        input[value="no"]+.yes-no-buttons {
            button.no-btn {
                background-color: #E84E3B;
                color: #ffffff;
            }
        }

        &.did-you-make-recipe {
            .yes-no-buttons {
                .yes-btn {
                    &::before {
                        mask: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00003 3C8.76266 3.17038 8.57033 3.39598 8.43967 3.65732C8.309 3.91866 8.24391 4.20788 8.25003 4.5C8.24391 4.79212 8.309 5.08134 8.43967 5.34268C8.57033 5.60402 8.76266 5.82962 9.00003 6M12 3C11.7627 3.17038 11.5703 3.39598 11.4397 3.65732C11.309 3.91866 11.2439 4.20788 11.25 4.5C11.2439 4.79212 11.309 5.08134 11.4397 5.34268C11.5703 5.60402 11.7627 5.82962 12 6M6.00003 3C5.76266 3.17038 5.57033 3.39598 5.43966 3.65732C5.309 3.91866 5.24391 4.20788 5.25003 4.5C5.24391 4.79212 5.309 5.08134 5.43966 5.34268C5.57033 5.60402 5.76266 5.82962 6.00003 6M3 8.25H15C15.1989 8.25 15.3897 8.32902 15.5303 8.46967C15.671 8.61032 15.75 8.80109 15.75 9V9.375C15.75 10.5 13.8623 13.5548 12.75 14.25V15C12.75 15.1989 12.671 15.3897 12.5303 15.5303C12.3897 15.671 12.1989 15.75 12 15.75H6C5.80109 15.75 5.61032 15.671 5.46967 15.5303C5.32902 15.3897 5.25 15.1989 5.25 15V14.25C3.98475 13.4595 2.25 10.5 2.25 9.375V9C2.25 8.80109 2.32902 8.61032 2.46967 8.46967C2.61032 8.32902 2.80109 8.25 3 8.25Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-size: 100%;
                    }
                }

                .no-btn {
                    &::before {
                        mask: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.25 14.25H14.25M11.25 8.25H15.75C15.75 9.51825 15.3562 10.695 14.685 11.664M13.1595 13.188C12.1579 13.8814 10.9682 14.252 9.75 14.25H8.25C6.6587 14.25 5.13258 13.6179 4.00736 12.4926C2.88214 11.3674 2.25 9.8413 2.25 8.25H8.25M9 3.75V6M11.25 3.75V6M2.25 2.25L15.75 15.75' stroke='%23E84E3B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-size: 100%;
                    }
                }
            }
        }
    }

    .dr-comment-images {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 0 0 16px;

        img {
            width: 100px;
            height: 90px;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid rgba(170, 170, 170, 0.3);
            vertical-align: top;
        }
    }

    .wpdelicious-recommend-recipe-made {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 0 0 48px;

        span {
            display: inline-flex;
            align-items: center;
            gap: 3px;
            padding: 6px 16px;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 500;
            border-radius: 50px;

            &::before {
                content: "";
                width: 1.5em;
                height: 1.5em;
                background-color: currentColor;
            }

            &.wpdelicious-recommend {
                border: 1px solid #FD7E14;
                color: #FD7E14;
                background-color: #FFF8ED;

                &::before {
                    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11V19C7 19.2652 6.89464 19.5196 6.70711 19.7071C6.51957 19.8946 6.26522 20 6 20H4C3.73478 20 3.48043 19.8946 3.29289 19.7071C3.10536 19.5196 3 19.2652 3 19V12C3 11.7348 3.10536 11.4804 3.29289 11.2929C3.48043 11.1054 3.73478 11 4 11H7ZM7 11C8.06087 11 9.07828 10.5786 9.82843 9.82843C10.5786 9.07828 11 8.06087 11 7V6C11 5.46957 11.2107 4.96086 11.5858 4.58579C11.9609 4.21071 12.4696 4 13 4C13.5304 4 14.0391 4.21071 14.4142 4.58579C14.7893 4.96086 15 5.46957 15 6V11H18C18.5304 11 19.0391 11.2107 19.4142 11.5858C19.7893 11.9609 20 12.4696 20 13L19 18C18.8562 18.6135 18.5834 19.1402 18.2227 19.501C17.8619 19.8617 17.4328 20.0368 17 20H10C9.20435 20 8.44129 19.6839 7.87868 19.1213C7.31607 18.5587 7 17.7956 7 17' stroke='%23FD7E14' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    mask-repeat: no-repeat;
                    mask-size: 100%;
                }

                &.selected {
                    background-color: #FD7E14;
                    color: #fff;
                }
            }

            &.wpdelicious-made {
                border: 1px solid #32B550;
                color: #32B550;
                background-color: #F1FCF2;

                &::before {
                    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.16107 17.009L18.0001 17M12.0001 3C13.9181 3 15.5201 4.35 15.9101 6.151C16.9342 5.87385 18.0265 6.01488 18.9466 6.54308C19.8668 7.07128 20.5394 7.94337 20.8166 8.9675C21.0937 9.99163 20.9527 11.0839 20.4245 12.0041C19.8963 12.9242 19.0242 13.5968 18.0001 13.874V21H6.00007V13.874C5.49297 13.7366 5.0179 13.5007 4.60196 13.1798C4.18603 12.8588 3.83739 12.4591 3.57595 12.0034C3.3145 11.5477 3.14538 11.0449 3.07822 10.5239C3.01107 10.0028 3.04721 9.4736 3.18457 8.9665C3.32194 8.4594 3.55783 7.98432 3.8788 7.56839C4.19976 7.15246 4.59951 6.80382 5.05521 6.54237C5.51092 6.28093 6.01365 6.1118 6.53472 6.04465C7.05578 5.9775 7.58497 6.01364 8.09207 6.151C8.28591 5.25857 8.77929 4.45933 9.49022 3.88611C10.2012 3.31289 11.0868 3.0002 12.0001 3Z' stroke='%2332B550' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    mask-repeat: no-repeat;
                    mask-size: 100%;
                }

                &.selected {
                    background-color: #32B550;
                    color: #fff;
                }
            }
        }
    }

    .dr-comment-details {
        width: 100%;
        .wpdelicious-recommend-recipe-made {
            margin: 0 0 16px;

            span {
                font-size: 14px;
            }
        }

        .dr-comment-header {
            position: relative;

            .dr-comment-date {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .dr-comment-reply-btn {
            a {
                color: inherit;
                text-decoration: none;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    background-color: currentColor;
                    mask: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.7499 3V6C4.81865 6.771 2.9849 11.091 2.2499 15C2.22215 15.1545 6.2879 10.5285 9.7499 10.5V13.5L15.7499 8.25L9.7499 3Z' stroke='%232DB68D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    mask-repeat: no-repeat;
                    mask-size: 100%;
                    vertical-align: middle;
                    margin-right: 4px;
                }
            }
        }

        .dr-tags {
            margin: 0 0 16px;
        }
    }

    .dr-comment-list {
        li {
            margin: 0;
        }
    }
}

#reviewModal{
    .comment-respond{
        padding: 0;
    }
}