.rating-without-comment {
    padding: 24px;
    background-color: #fff;
    font-size: 18px;
    line-height: 1.77;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .rating-without-comment-label {
        margin-right: 20px;
        font-weight: 500;
    }

    .jq-ry-container {
        margin: 0;
    }

    .jq-ry-group-wrapper {
        width: auto;

        svg {
            width: 40px;
            height: 40px;
            padding: 0 4px;
        }

        .jq-ry-normal-group {
            svg {
                fill: none;
                stroke-width: 10px;
                stroke: #f39c12;
            }
        }
    }

    .rating-message-box {
        display: inline-flex;
    }

    .rating-message-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: var(--primary-color);
        mask: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5002 29.6663C23.6003 29.6663 30.1668 23.0998 30.1668 14.9997C30.1668 6.8995 23.6003 0.333008 15.5002 0.333008C7.39999 0.333008 0.833496 6.8995 0.833496 14.9997C0.833496 23.0998 7.39999 29.6663 15.5002 29.6663ZM21.8164 11.9006C22.314 11.3578 22.2773 10.5144 21.7345 10.0168C21.1916 9.51921 20.3482 9.55588 19.8506 10.0987L13.5002 17.0265L11.1497 14.4623C10.6521 13.9195 9.8087 13.8828 9.26587 14.3804C8.72305 14.878 8.68637 15.7214 9.18396 16.2643L12.5173 19.9006C12.7698 20.1761 13.1264 20.333 13.5002 20.333C13.8739 20.333 14.2305 20.1761 14.483 19.9006L21.8164 11.9006Z' fill='%232DB68D'/%3E%3C/svg%3E%0A");
        mask-repeat: no-repeat;
        mask-position: center;
        margin-right: 10px;
        flex-basis: 30px;
        flex-shrink: 0;
    }
}

// unit conversion
.dr-unit-conversion-wrapper {
    display: flex;
    margin-right: auto;

    >label {
        all: unset;

        input[type="radio"]{
            position: absolute;
            top: -999999px;
            width: 0;
            height: 0;
            visibility: hidden;
        }

        span {
            display: block;
            font-size: 14px;
            line-height: 1;
            padding: 10px 12px;
            border: 1px solid #cccccc;
            cursor: pointer;
            transition: all .3s ease;
        }

        &:first-child {
            span {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }

        &:last-child {
            span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }

        &:not(:last-child) {
            span {
                border-right: 0;
            }
        }

        input[type="radio"]:checked + span{
            background-color: var(--primary-color);
            border: 1px solid var(--primary-color);
            color: #ffffff;
        }
        &:hover{
            color: var(--primary-color);
        }
    }
}

a.ingredient-link{
    color: var(--primary-color) !important;
    text-decoration: underline !important;
    &:hover{
        text-decoration: none !important;
    }
}