@import "./card-layout-pro";
@import "./modal";
@import "./emoji-reaction";
@import "./single-recipe";
@import "./rtl";
@import "./comment";

* {
    box-sizing: border-box;
}

// ingredient of user dashboard
.dr-form__field {
    .dr-input-wrap{
        input:not([type=checkbox], [type=submit], [type=search], [type=radio], #dr-recipe-timer, [type=file], .wc-block-price-filter__range-input){
            margin: 0;
        }
    }
}

.dr-ud__ingredients-fields{
    .dr-repeater-row{
        @media(max-width: 767px){
            align-items: flex-start;
            &:not(:last-child){
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid rgba(#000, .1);
            }
            &:not(.dr-sortable){
                display: none;
            }
            .dr-repeater-col:not(.dr-col-id){
                flex-direction: column;
                align-items: flex-start;
                .dr-form__field{
                    max-width: 100% !important;
                    width: 100%;
                    flex: 0 0 100%;
                }
            }
            .dr-col-id, .dr-col-del{
                margin-top: 48px;
            }
        }
    }
}

.dr-hide-md{
    @media(min-width: 768px){
        display: none;
    }
}
.dr-hide-lg{
    @media(min-width: 1025px){
        display: none;
    }
}